*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
   
}
@font-face{
  font-family: 'Helvetica';
  src: url(images/HelveticaLt.ttf) ;
}
.wrap{
    width: 100%;
    height: 100%;
    background: url(images/bg22.jpg) rgba(0,0,0,0.4) no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
    background-blend-mode: overlay;
    transition: 5s;
    animation: animate 15s ease-in-out infinite alternate-reverse forwards;
    animation-play-state: running;
   
 
}
@keyframes animate{
  0%{
    background-image: url(images/bg22.jpg);
  }
   50%{
    background-image: url(images/bg33.jpg);
  }
  100%{
    background-image: url(images/bg44.jpg);
  }
   
}
header{
    position: fixed;
    
    width: 100%;
    
    padding: 0 50px;
    background: linear-gradient(to top, transparent, rgba(0,0,0,0.6));
}
header .logo img{
    float: left;
    width: 170px;
    height: 170px;
    position: fixed;
    margin-left: 10px;
    cursor: pointer;
}

header .menu{
   font-size: 20px;
   font-weight:500;
   color: #fff;
   float: right;
   /* background-color: lawngreen;  */
   margin-right: 10%;
   margin-top: 60px;
}
header ul li{
    display: inline-block;
    padding: 12px;
}
header ul li a{
    text-decoration: none;
    font-size: 15px;
    color: #fff;
    margin: 0 28px;
    font-weight: 300;
    letter-spacing: 1px;
    cursor: pointer;
        
}
.menu ul li a:after{
  content: ""; /* This is necessary for the pseudo element to work. */ 
  display: block; /* This will put the pseudo element on its own line. */
  width: 10%; /* Change this to whatever width you want to have before hover. */
  padding-top: 5px;
  margin-left: 15px; /* This creates some space between the element and the border. */
  border-bottom: 2px solid rgba(0,0,0,0); /* This creates the border. Replace black with whatever color you want. */
  transition: .5s ease-in-out; /* This establishes the amount of time in seconds the animation should take from start to finish */
}

.menu ul li a:hover:after {
  width: 100%; 
  border-bottom: 2px solid #fff;/* This will be the new width of your border when on hover */
}
.menu ul li .fa:hover:after {
 
  border-bottom:none;/* This will be the new width of your border when on hover */
}
#text {
  width: 80%;
  height: 60%;
  /* background-color: rgba(0,0,0,0.4); */
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%,-50%);
  text-align: center;   
}
#text h1{
  color: #fff;
  font-family: 'Helvetica';
  font-weight: lighter;
  letter-spacing: 2px;
  font-size:40px;
  word-spacing: 5px;
}

#text .hide{
  display: none;
}
 .button{
  width: 180px;
  height: 55px;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  border: 2px solid #fff;
  border-radius: 5px;
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-55%,50%);
  cursor: pointer;
}
.button:hover{
 background-color: #fff;
  border-color: rgba(255, 255, 255, 0.822);
  color:black;
}
 
section{
  position: relative;
  width: 100%;
  height: 740px;
  /* background-color: rgb(143, 102, 102); */
  
}

 .container hr #border{
  border: 3px solid rgb(163, 158, 158); 
   position: absolute;
   top:10%;
   left: 50%;  
}
section .container{
  width: 100%;
  height: 720px;
  /* background-color: pink; */
  position: absolute;
  top: 10px;
  overflow: hidden;
  display: inline-block;
 
  justify-content: space-evenly;
  
}
.container #scontainer{
  width: 100%;
  height: 320px;
  /* background-color: rgb(212, 20, 20); */
  position:absolute ;
  top: 170px;
  display: flex;
  /* margin-left: 2px; */
  justify-content: space-evenly;
  
  
}


 #scontainer .container1 {
  width: 30%;
  height: 320px;
  display: flex;
  margin-left: 10px;
  justify-content: space-evenly;
  box-shadow: 5px 8px 8px rgb(224, 222, 222); 
  position: sticky;  
}
     .title {
  height: 100px;
  width: 500px;
  position: relative;
  top:50%;
  left: 20px;
  float: left;
  padding: 2px;  
  /* background-color: rgb(187, 103, 103); */
  line-height: 20px;

}
.shop{
  height: 40px; width:110px; border-radius: 10px; background-color: rgb(243, 124, 144); color: white; border-color: white;
  margin-top: 2px;
}
/* .container1 .zoom{
  height: 60px;
  width: 45px;
  position: absolute;
  background-color: rgba(0,0,0,0.4);
  display:flex;
  flex-direction:column;
}
.zoom .btn{
  color: white;
  font-size: 20px;
  padding-top: 5px;
}

.zoomin {
  bottom: 140px;
}

.zoomout {
  bottom: 90px;
} */


.left {
  
  /* background-size: cover; */
  background-position: center;
  flex: 1;
}

.right {
  display: flex;
  flex-direction: column;
  flex: 0 0 35%;
  border-color: 2px ivory;  
}

 .one{
  background-image: url('images/first.png');
  background-size: cover;
  background-position: center;
  flex: 50%; 
}

.two{
  background-image: url('images/second.png');
  background-size: cover;
  background-position: center;
  flex: 50%;
  margin-top: 1px; 
}
.three{
  background-image: url('images/fourth.png');
  background-size: cover;
  background-position: center;
  flex: 50%; 
}

.four{
  background-image: url('images/third.png');
  background-size: cover;
  background-position: center;
  flex: 50%;
  margin-top: 1px; 
}
.five{
  background-image: url('images/fifth1.png');
  background-size: cover;
  background-position: center;
  flex: 50%; 
}

.six{
  background-image: url('images/sixth.png');
  background-size: cover;
  background-position: center;
  flex: 50%;
  margin-top: 1px; 
}


.container #border{
  background-color: grey;
  position: absolute;
  top: 6%;
  left: 10%;
}
.container #border2{
  background-color: gray;
  position: absolute;
  top:6%;
  right: 10%;
  z-index: 2;
  
}
.button2{
  width: 180px;
  height: 50px;
  color: #fff;
  border-color: none;
  box-shadow: 5px 8px 10px rgb(185, 181, 181) ;
  border-radius: 5px;
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-55%,50%);
  cursor: pointer;
}
.button2:hover{
 width: 190px;
 height: 60px;
}
.why{
  width: 100%;
  height: 650px;
  background-color: #E5F0F4;
  position: relative;
}
.why .containers{
   width: 60%;
   height: 400px;
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
   /* background-color: rosybrown; */
   margin-top: 20px;
  
   
  
}
.why h2{
  padding: 10px;
  font-style:normal;
  font-size: 35px;
  font-weight: bolder;

}
.why p{
  margin: 15px 20%;
}
#image1{
  width: 350px;
  height:300px;
  border-color: black;
  /* background-color: rgba(255, 255, 255); */
  background-image: url(images/gummy-kitchen.png);
  background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
  position: absolute;
  top: 60%;
  left: 0;
 
}
.why #border{
  background-color: grey;
  position: absolute;
  top: 5%;
  left: 10%;
}
.why #border2{
  background-color: gray;
  position: absolute;
  top:5%;
  right: 10%;
}
.containers .choosecard{
  width: 250px;
  height: 300px;
  background-color:  #e5f0f481;
  display: inline-block;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 10px;
  left: 6px;
  margin: 45px 25px;
  border-radius: 10px;
  box-shadow: 5px 10px 18px rgb(196, 192, 192);
  
}
  .containers .choosecard .text2{
  width: 230px;
  height: 280px;  
  margin: 5px 10px;
  position: absolute;
}
.reviewpg #border{
  background-color: grey;
  position: absolute;
  top: 8%;
  left: 10%;
}
.reviewpg #border2{
  background-color: gray;
  position: absolute;
  top:8%;
  right: 10%;
}
.reviewpg h2{
  padding: 10px;
  font-style:normal;
  font-size: 28px;
  font-weight: bolder;

}
.row
{
  width: 90%;
  height: 80%;
  border-radius: 10px;
  box-shadow: 5px 8px 8px rgb(196, 192, 192);
  position: absolute;
  top: 58%;
  left:50%;
  transform: translate(-50%,-50%);
}
.row .centre{
 width: 48%;
 height: 100%;
 float: left;
 position: relative;
 margin: 2px 12px;
}
.row .column{
  width: 310px;
  height: 70%;
  background-image: url(images/review1.jpeg);
  background-position: center;
  background-size: cover;
  float: left;
  position: absolute;
  top: 60px;
  left: 1%;
  

} 
#column2{
  background-image: url(images/review\ 2.jpeg);
}



.circle{
  border-radius: 50%;
   width: 90px;
    height: 90px;
    background-image: url(images/propic1.jfif);
    background-position: center;
    background-size: cover;
     position: absolute;
     right: 2%; 
     top:70%;
}



#magazine h2{
  padding: 10px;
  font-style:normal;
  font-size: 28px;
  font-weight: 600;

}
 #magazine .containers .choosecard{
  width: 300px;
  height: 390px;
  background-color: #d8d9db7e;
  display: inline-block;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  top: 2%;
  left: 250px;
  margin: 45px 25px;
  border-radius: 10px;
  box-shadow: 5px 10px 18px rgb(196, 192, 192);
  
}
.choosecard .img{
  width: 100%;
  height: 200px;
  background-image: url(images/sofa.jpeg);
  background-position: center;
  background-size: cover;
}
 #img2{
  background-image: url(images/housefurniture.jpeg);
}
#img3{
  background-image: url(images/housefurniture.jpeg);
}
#strip{
  height: 300px;
  width: 100%;
  background-color:#F4E3D7;
  padding: 20px;
  background-image: url(images/resized1.jpg);
opacity: 0.9;
  background-repeat: no-repeat;
  background-position: inherit;
  background-size: cover;
  margin-top: 30px;
  border-radius: 5px;
  
  
}
#strip h2{
  font-weight: bold;
  font-size: 30px;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* #strip button{
  width: 140px;
  height: 40px;
  border-radius: 6px;
  margin: 20px 5px;
  background-color: #981F1F;
  color: #fff;
  border: 1px solid #fff; */


#strip center{
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%,-50%);
}
#ctc{
  background-color: rgba(0,0,0,0.6);
}
#ctc:hover{
  color: #000;
  background-color: #fff;
}
footer{
  width: 100%;
  height: 350px;
  background-color: black;
  margin-top: -2px;
  color: white;
  padding-top: 30px ;
  padding-left: 10%;
  position: relative;
  line-height: 30px; 
}
footer a{
  color: #fff;
  text-decoration: none;
}
.left{
  text-align:center;
  float:left;
  }
  footer .right{
  float:right;
  width: 20%;
  height: 300px;
  position: absolute;
  left: 75%;
  /* background-color: cornflowerblue; */
  }
  

.centered{
  text-align:center;
  position: absolute;
  left: 40%;
  padding: 0px;
  }
  .right img{
    position: absolute;
    width: 200px;
    height: 180px;
    position: absolute;
    top: -60px;
  }
  #icon{
    
    position: absolute;
    top:18%;
    left: 10px;
  }

  #icon a{
   margin: 5px;
   text-decoration: none;  
    

  }
  footer hr{
    width: 80%;
    color: gray;
    height: 2px;
    position: absolute;
    top: 85%;
    border-color: gray;
  }
  